.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 15px 50px;
}
#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;

}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
    border-radius: 15px 50px;
}
body {
    background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/06/8c/39/99/metlife-stadium.jpg?w=1000&h=-1&s=1');   
}