.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 15px 50px;
}
#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;

}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: 200px;
    border-radius: 15px 50px;
    position: absolute;
    left: 185px;
}
body {
    background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/06/8c/39/99/metlife-stadium.jpg?w=1000&h=-1&s=1');   
}
#restartBtn{
    padding: 3px;
    text-align: center;
    position: absolute;
    margin-top: 400px;
    left: 460px;
    
}
h1{
    padding: 3px;
    text-align: center;
    position: absolute;
    left: 430px;
    margin-top: auto;
}

h2{
    padding: 3px;
    text-align: center;
    position: absolute;
    left: 450px;
    margin-top: 45px;
}